@import url('https://fonts.googleapis.com/css?family=Lato');


* {
 font-size: 100%;
 font-family: 'Lato', sans-serif;
}


@-ms-viewport{
  width: device-width;
}

p {
	font-size: 16px;
    color: #777777;
    line-height: 1.66em;
}

/*HEADER*/

.collapse ul {
	font-size: 1.3em;
}

.menuLinks {
	margin-top: 10px;
}

.menuButton {
	background-color: #f7c65c;
	border:none;
	color:white;
}

.menuButton:hover {
	background-color: black;
}

.menuButtonLink {
	margin-top: 0px;
}


/*FOOTER*/

.footer {
  background-color:black;
  padding-bottom:20px; 
  width:100%;
}

.footerList {
margin-top:35px;
color:white;
}

.footerList li a {
	color: white;
	font-size: 1.1em;
}

.footerList li a:hover {
	color: #f7c65c;
}

.paypalText {
	color: white;
}

.footerButton {
  padding-top:10px;
}

.footerImages {
	padding-top: 40px;
}

.subFooter {
	background-color: #43474e;
	padding: 10px 20px;
}

	.subFooter p {
		font-size: 12px;
	}

.smIcon {
	max-height:30px;
}

.subFooterText {
	color:white;
	padding-left: 15px;
	display:inline-block;
}

/*HOME*/

/*ABOVE THE FOLD HOMEPAGE*/

.aboveTheFold {
  background: url('../images/home_main_image.jpg') 
  no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.homeLogo {
	
	margin-top: 20vh;
}

/*ABOVE THE FOLD BUTTONS*/

.atfBtn1 {
	margin-top: 10vh;
}

.atfBtn {
	background-color: #f7c65c;
	font-size:18px;
	font-weight: 800;
	border-radius: 20px;
	padding: 5px 40px 5px 40px;
	margin-bottom: 3vh;
	min-width: 90%;
}

.atfBtn:hover {
	background-color: black;
	color: white;
}

/*ABOVE THE FOLD REVIEW BLOCK*/

.reviewBlock {
	margin-top: 20px!important;
	background-color: black;
	width:60%;
	height: 60%;
}

.reviewBlock:hover {
	background-color: #525151;
}

/*SECOND SECTION HOMPEAGE*/

.secondSection {
  background: url('../images/plane_background.jpg') 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 60vh;
}

.sencondSectionContent{
	padding: 5vh 0;
}

.mainHeader {
	margin-bottom: 40px;
}

.subHeaders {
	padding-bottom: 15px;
}

.secondSectionButton {
	padding: 10px 20px;
	border-radius: 0px;
	background-color: transparent;
	border: solid 2px black;
}

.secondSectionButton:hover {
	background-color: black;
	color:white;
}

/*THIRD SECTION HOMPEAGE*/

.thirdSection {
	background-color: black;
	padding:20px 0;
}
.thirdSectionHeading {
	color:white;
}
.divider {
		border-top: 1px solid #f9a852;
		width:30%;
}

/*FORTH SECTION HOMPEAGE*/

.forthSectionHeading {
	margin-top: 0;
	padding-top: 30px;
}

.ourVehiclesParagraph {
	padding-top: 20px;
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 40px;
}



.forthSectionButton {
	padding: 10px 20px;
	border-radius: 0px;
	background-color: transparent;
	border: solid 2px black;
	margin-top: 40px;
}

.forthSectionButton:hover {
	background-color: black;
	color:white;
}

/*FIFTH SECTION HOMPEAGE*/

.theJourney {
	background-color: #020c15;
	margin-top: 40px;
}

.fithSectionHeading {
	color: white;
	padding-top: 30px;
}

.theJourneyParagraph {
	padding-top: 20px;
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 40px;
	color:white;
}

/*BOOK NOW BANNER HOMPEAGE*/


.bookNowBanner {
	 background: url('../images/plane_background.jpg') 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:30px 0;
}

.bannerSectionButton {

	padding: 20px 50px;
	border-radius: 0px;
	background-color: #f9a852;
	border: solid 1px black;
	color:white;
}

.reviews {
	 background: url('../images/reviews_background.jpg') 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:30px 0;
}

.reviewWell {
	margin-top: 20px;
}

.reviewName {
	margin-top: 0;
	padding-bottom: 20px;
}

.reviewImages {
	padding-top: 20px;
}


/*SERVICES*/

.atfServices {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url('../images/services_banner.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  min-height: 70vh;
}

.atfServices {
	padding-top: 15vh;
	color:white;
}

.atfHeader{
	font-size: 2em;
}

.atfPara {
	margin-top: 20px;
	font-size: 1.2em
	color: white;
}

.atfDivider {
	border-top: 1px solid #f9a852;
}

.servicesPrices {
  background: url('../images/plane_background.jpg') 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:30px 0;
}

.priceHeaders {
	margin-top: 0;
}

.priceNumbers {
	font-size: 3.5em;
}

.servicesButton {
	border-radius: 0px;
	background-color: #f9a852;
}

.servicesButton:hover {
	background-color: black;
	color:white;
}

.threeBoxesServices {
	 background: url('../images/Services_background.jpg') 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:60px 0;
}

.threeBoxesServicesHeadings {
	margin-top: 0px;
	color: #f9a852;
}


ul li a {
	color:black;
	text-decoration: none;
}

ul li a:hover {
	color:#f9a852;
}

a:link {
    text-decoration: none;
}

.townsSection {
	padding: 30px 0;
}

.townsServicesImage {
	margin-top: 15px;
}

.townsAroundButton {
	border-radius: 0px;
	background-color: #f9a852;
	margin-bottom: 20px;
}

.townsAroundButton:hover {
	background-color: black;
	color:white;
}

	.townsAroundPara {
	padding-bottom: 20px;
}
/*OUR FLEET*/

.atfOurFleet {
	 background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url('../images/how_it_works_background.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 60vh;
    padding-top: 15vh;
	color:white;
}

.atfOurFleet p {
	color:white;
}

.ourFleetPartnershipsSection {
	padding:80px 0;
}


.sliderLeft {
	margin-left: 20px;
}

.ourFleetImages {
	padding-top: 20px;
}

.ourFleetbtns {
	border-radius: 0px;
	background-color: #f9a852;
	margin-bottom: 20px;

	min-width: 300px;

}

.ourFleetbtns:hover {
	background-color: black;
	color:white;
}

.fleetCerts {
	padding-bottom: 40px;
}

.fleetServicesCertificates {
	 background: url('../images/plane_background.jpg') 
     no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     padding:60px 0;
}

/*CONTACT*/

.contactPageContent {
	padding: 30px 0;
}

.atfContact {
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url('../images/about_us_banner.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 60vh;
    padding-top: 15vh;
	color:white;
}

.atfContact p {
	color:white;
}

.contactImage {
	margin-bottom: 20px;
}

.contactBtns {
	border-radius: 0px;
	background-color: #f9a852;
	margin-bottom: 20px;

	min-width: 300px;

}

.contactBtns:hover {
	background-color: black;
	color:white;
}

/*FAQs*/

.FAQContent {
	padding: 50px 0;
	background-color: #F7F7F7
}

.panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

    .FAQBtn {
    	border-radius: 0px;
		background-color: #f9a852;
    }

    .FAQBtn:hover {
	background-color: black;
	color:white;
}

/*MEDIA QUIERIES HOMEPAGE*/

@media only screen and (min-width: 768px) {

	/*HOME*/
    
    .homeLogo {
        width:30%;
		height: 30%;
	}

    .atfBtn2, .atfBtn3 {
    	margin-top: 10vh;
    }

     .atfBtn{
     	margin-bottom: 20px;
     	min-width: 70%;
     }

	.reviewBlock {
    width:20%;
	height: 20%;
	}

	.reviewDiv{
	margin-top: 30vh;
	}

 	.mobileImageHowItWorks {
    	display:none;
    }

    .ourVehiclesParagraph {
	padding-top: 80px;
	text-align: center;
	font-size: 1.2em;
	}
	.theJourneyMobile {
		display:none;
	}

	.theJourney{
		background: url('../images/the_journey_background_fixed.jpg') 
  		no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 60vh;

	}

	.theJourneyParagraph {
		padding: 50px 0;
	}

	
	.thirdSection {
	background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
    ),
	url('../images/how_it_works_background.jpg');
	background-size: cover;
	}

	/*SERVICES*/

	.townsAroundPara {
	font-size: 1.2em;
}


.partnershipPara {
	font-size: 1.2em;
}

}





@media only screen and (min-width: 768px) and (max-width: 1150px) {
    .atfBtn {
    	min-width: 180px;
    	padding: 5px 5px 5px 5px;
    	font-size:14px;
    }

    .ourVehiclesParagraph {
	padding-top: 40px;
	text-align: center;
	font-size: 1.2em;
	}

}

@media only screen and (max-width: 768px){
    .desktopImageHowItWorks {
    	display:none;
    }
    .subFooterText {
	padding-left: 0px;
	text-align: center;
	font-size: 12px;
	}


	.smIcon {
		display:none;
	}
	.ourFleetbtns {
		width:100%;
	}
	.ourFleetPartnershipsSection {
	padding:0 0 30px 0;
}
	.sliderLeft {
	margin-left: 0px;
}
}

